@charset "UTF-8";

html {
    height: 100%;
}

body {
    height: 100%;
    background: #ccc;
}

section {
    padding: 0px 10px 10px;
    min-height: 100%;
    background: #ccc;
}

.modal-body {
    text-align: center;
}
