@charset "UTF-8";

header .row {
    margin: 0px;
    padding: 20px 0px 50px;
}

header .control {
    text-align: right;
}

header .btn.list {
    font-size: 16px;
}

header .project {
    margin: 10px 0px;
}

header .project span {
    font-size: 24px;
    vertical-align: middle;
}

header .project .name {
    font-weight: bold;
}

form.form-horizontal .form-group {
    margin: 15px 0px 0px;
}
